[user]
	name = dragonmux
	email = git@dragonmux.network
	signingKey = 0137BA904EBDB4CD
[push]
	default = current
[commit]
	gpgsign = true
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[pull]
	rebase = true
	autostash = true
[rebase]
	autostash = true
[init]
	defaultBranch = main
[url "git@github.com:"]
	pushInsteadOf = git://github.com/
	pushInsteadOf = https://github.com/
[diff]
	algorithm = histogram
